/* .pull-right {
  text-align: right;
  float: right;
  margin: auto;
} */
.news-intro-panel {
  margin: auto 5px;
  text-align: left;
}

.news-description {
  text-align: left;
}
.news-description p {
  font-size: 18px;
}
.news-intro-col {
    display: inline-flex;
    color: black;
  }

  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .fill img {
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    min-width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
