.loader {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
	margin-top: 50px;
}

.bar-div {
    margin-top: 30vh;
}
